<div class="banner">
  <div class="container">
    <h1>Your Cocktails</h1>
  </div>
</div>

<%# @cocktails.each do |cocktail| %>
  <!-- <div class="card-product"> -->
    <%#= cl_image_tag cocktail.photo, width: 50, height: 50, crop: :fill %>
    <!-- <div class="card-product-infos"> -->
      <!-- <h3><%#= link_to cocktail.name, cocktail_path(cocktail) %></h3> -->
    <!-- </div> -->
  <!-- </div> -->
<%# end %>

  <div class="cards">
<% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>)">
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    </div>
  </div>
<% end %>

<div class="center-contain">
  <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-info new-cocktail" %>
</div>
