// Specific CSS for your home-page
body {
  background: linear-gradient(to right, #8e0e00, #1f1c18);
}

.center-contain {
  display: flex;
  justify-content: center;
}

.right-contain {
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 10vh;
}

.ingredient-delete {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

li {
  display: inline-block;
}

.card-category a {
    color: white;
}

.card-category:hover {

}

.card-category {
  height: 150px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
  color: white;
  margin: 0;
  }
}


