.cocktail-card {

}

.cocktail-img {
  height: 60vh;
  width: 40vw;
  border-radius: 2px;
  border: 3px solid silver;
}

.ingredients {
  background-color: #CCCCCC;
  padding: 20px;
  border-radius: 3px;
  color: brown;
}
